{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">

        <!--Header-->
        <div class="row header shadow-sm">

            {% block logo %}
                <div class="col-sm-3 pl-0 text-center header-logo">
                    <div class="bg-theme mr-3 pt-3 pb-2 mb-0">
                        {% if is_granted('ROLE_TUTOR') %}
                            <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-user"></i> Tuteur</a></h3>
                        {% elseif is_granted('ROLE_STUDENT') %}
                            <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-child"></i> Elève</a></h3>
                        {% elseif is_granted('ROLE_PROFESSOR') %}
                            <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-graduation-cap"></i> Enseignant</a></h3>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            <!--Header Menu-->
            <div class="col-sm-9 header-menu pt-2 pb-0">
                <div class="row">
                    <!--Menu Icons-->
                    <div class="col-sm-4 col-8 pl-0">
                        <!--Toggle sidebar-->
                        <span class="menu-icon" onclick="toggle_sidebar()">
                            <span id="sidebar-toggle-btn"></span>
                        </span>
                        <!--Toggle sidebar-->
                        <!--Notification icon-->
                        <div class="menu-icon">
                            <a class="" href="#" onclick="toggle_dropdown(this); return false" role="button" class="dropdown-toggle">
                                <i class="fa fa-bell"></i>
                                <span class="badge badge-danger">5</span>
                            </a>
                            <div class="dropdown dropdown-left bg-white shadow border">
                                <a class="dropdown-item" href="#"><strong>Notifications</strong></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-primary">
                                            <i class="fa fa-bookmark"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Meeting</strong></h6>
                                            <p>You have a meeting by 8:00</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-secondary">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Events</strong></h6>
                                            <p>Launching new programme</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-warning">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Personnel</strong></h6>
                                            <p>New employee arrival</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center link-all" href="#">See all notifications ></a>
                            </div>
                        </div>
                        <!--Notication icon-->

                        <!--Inbox icon-->
                        <span class="menu-icon inbox">
                            <a class="" href="#" role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="badge badge-danger">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mt-10 animated zoomInDown" aria-labelledby="dropdownMenuLink3">
                                <a class="dropdown-item" href="#"><strong>Unread messages</strong></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle" src="{{ asset('uploads/files/téléchargement.jpg') }}" width="50px" height="50px" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Roua Slama</strong></h6>
                                            <p>How are you?</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle" src="{{ asset('uploads/files/fille.jpg') }}" width="50px" height="50px" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Chadha Glaied</strong></h6>
                                            <p>How are you?</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center link-all" href="#">View all messages</a>
                            </div>
                        </span>
                        <!--Inbox icon-->

                    </div>
                    <!--Menu Icons-->
                    <!--Search box and avatar-->
                    {% block avatar %}
                        <div class="col-sm-8 col-4 text-right flex-header-menu justify-content-end">

                            <div class="mr-4">

                                <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('uploads/files/images.png') }}" alt="" class="rounded-circle" width="40px" height="40px">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLink">
                                    {% if is_granted('ROLE_TUTOR') %}
                                        <a class="dropdown-item" target="_self" href="{{ path('profileTutor') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                    {% elseif is_granted('ROLE_PROFESSOR') %}
                                        <a class="dropdown-item" target="_self" href="{{ path('profileProf') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                    {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                                        <a class="dropdown-item" target="_self" href="{{ path('profileAgent') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                    {% elseif is_granted('ROLE_STUDENT') %}
                                        <a class="dropdown-item" target="_self" href="{{ path('profileStudent') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="fa fa-power-off pr-2"></i> Logout</a>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <!--Search box and avatar-->
                </div>
            </div>
            <!--Header Menu-->
        </div>
        <!--Header-->

        <div class="row main-content">
            <!--Sidebar left-->

            <div class="col-sm-3 col-xs-6 sidebar pl-0">
                <div class="inner-sidebar mr-3">
                    <!--Image Avatar-->
                    <div class="avatar text-center">
                        <img src="https://myeducpro.com/assets/login_page/img/logo.png" alt="" class="rounded-circle" height="60" />
                        <p><strong>Pascal School</strong></p>
                    </div>
                    {% block main_sidebar_container %}
                        <!--Sidebar Navigation Menu-->
                        {% if is_granted('ROLE_TUTOR') %}
                            <div class="sidebar-menu-container">
                                <ul class="sidebar-menu mt-4 mb-4">
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                                            <span class="none">Accueil </span>
                                        </a>
                                    </li>

                                    <li class="parent">

                                        <a href="{{ path('liste_eleve(tutor)') }}" class=""><i class="fa fa-child mr-3"></i>
                                            <span class="none">Liste des élèves </span>
                                        </a>
                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_Prof(tutor)') }}"  class=""><i class="fa fa-graduation-cap mr-3"></i>
                                            <span class="none">Les enseignants </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                                            <span class="none">Emploi du temps </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_absence(tutor)')}}"  class=""><i class="fa fa-save mr-3"></i>
                                            <span class="none">Absences </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_notes(tutor)') }}" ><i class="fa fa-pencil-square mr-3"></i>
                                            <span class="none"> Notes </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#" class=""><i class="fa fa-table mr-3"></i>
                                            <span class="none">Matiéres </span>
                                        </a>
                                    </li>
                                    <li class="parent">
                                        <a href="#" class=""><i class="fa fa-newspaper-o mr-3"></i>
                                            <span class="none">Devoirs de maison</span>
                                        </a>
                                    </li>

                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-map mr-3"></i>
                                            <span class="none">Appréciations </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-university mr-3"></i>
                                            <span class="none">Bibliothèque </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-bullhorn mr-3"></i>
                                            <span class="none"> Actualités et évènements </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#" class=""><i class="fa fa-envelope-o mr-3"> </i>
                                            <span class="none">Messages </span>
                                        </a>
                                    </li>

                                    <li class="parent">
                                        <a href="#" class=""><i class="fa fa-dollar mr-3"> </i>
                                            <span class="none">Paiement </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--Sidebar Naigation Menu-->
                        {% elseif is_granted('ROLE_PROFESSOR') %}
                            <div class="sidebar-menu-container">
                                <ul class="sidebar-menu mt-4 mb-4">
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                                            <span class="none">Accueil <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_eleve(Prof)') }}" class=""><i class="fa fa-child mr-3"></i>
                                            <span class="none">Liste des élèves </span>
                                        </a>
                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-newspaper-o mr-3"></i>
                                            <span class="none"> Notes</span>
                                        </a>
                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                                            <span class="none">Absences </span>
                                        </a>
                                    </li>

                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                                            <span class="none">Emploi du temps</span>
                                        </a>
                                    </li>

                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-pie-chart mr-3"></i>
                                            <span class="none">Examens </span>
                                        </a>

                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-university mr-3"></i>
                                            <span class="none"> Bibliothèque </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-bullhorn mr-3"></i>
                                            <span class="none">Actualités </span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-envelope-o mr-3"></i>
                                            <span class="none"> Messages </span>
                                        </a>

                                    </li>

                                </ul>
                            </div>
                        {% elseif is_granted('ROLE_STUDENT') %}
                            <div class="sidebar-menu-container">
                                <ul class="sidebar-menu mt-4 mb-4">
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                                            <span class="none">Dashboard <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_eleve(student)') }}" class=""><i class="fa fa-child mr-3"></i>

                                            <span class="none">Liste des élèves </span>
                                        </a>
                                    </li>
                                    <li class="parent">

                                        <a href="{{ path('liste_Prof(student)') }}"  class=""><i class="fa fa-graduation-cap mr-3"></i>

                                            <span class="none">Les enseignants <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                                            <span class="none">Emploi du temps <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_absence(tutor)')}}" onclick="toggle_menu('editors'); return false" class=""><i class="fa fa-save mr-3"></i>
                                            <span class="none">Absences <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="{{ path('liste_notes(tutor)')}}" onclick="toggle_menu('tables'); return false" class=""><i class="fa fa-pencil-square mr-3"></i>
                                            <span class="none">Notes <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('charts'); return false" class=""><i class="fa fa-table mr-3"></i>
                                            <span class="none">Matiéres <i class=""></i></span>
                                        </a>

                                    <li class="parent">
                                        <a href="#" class=""><i class="fa fa-newspaper-o mr-3"></i>
                                            <span class="none">Devoirs de maison</span>
                                        </a>
                                    </li>
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('ecommerce'); return false" class=""><i class="fa fa-university mr-3"></i>
                                            <span class="none">Bibliothèque <i class=""></i></span>
                                        </a>

                                    </li>
                                    <li class="parent">
                                        <a href="#" onclick="toggle_menu('maps'); return false" class=""><i class="fa fa-bullhorn mr-3"></i>
                                            <span class="none">Actualités  <i class=""></i></span>
                                        </a>

                                    </li>

                                </ul>
                            </div>
                        {% endif %}
                    {% endblock %}

                </div></div>

            {#<div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">#}
            <div class="col-sm-9 col-xs-12 content pt-3 pl-0">

                <!--Order Listing-->
                <div class="product-list">
                    {% for eleve in eleves %}
                    {% set absences = getAbsences(eleve) %}
                    {% if absences %}

                    <div class="row border-bottom mb-4">
                        <div class="col-sm-8 pt-2"><h6 class="mb-4 bc-header">Liste des absences de: {{ eleve.firstName }} {{ eleve.lastName }}</h6></div>
                        <div class="col-sm-4 text-right pb-3">
                            <div class="clearfix"></div>
                        </div>
                    </div>
{#                    {% if is_granted('ROLE_TUTOR') %}#}
                    <div class="table-responsive product-list">
                        <table class="table table-bordered table-striped mt-0" id="user">
                            <thead>
                            <tr>
                                <th>Raison</th>
                                <th>Type</th>
                                <th>Date d'absence</th>
                                <th>Séance</th>
                            </tr>
                            </thead>
                            {% for user in absences %}
                            <tbody>
                            <tr>
                                <td class="align-middle">{{ user.raison }}</td>
                                <td class="align-middle">{{ user.type }}</td>
                                <td class="align-middle">{{ user.date|date("m/d/Y")  }}</td>
                                <td class="align-middle">{{ user.seance }}</td>

                            </tr>


                            {% endfor %}
                        </table>

                    </div>
                    {% endif %}
                    {% else %}
                        <div>Vide</div>
                    {% endfor %}
{#                    {% endif %}#}

        </div>

    </div>   </div></div>
    <!-- Page JavaScript Files-->
    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery-1.12.4.min.js') }}"></script>
    <!--Popper JS-->
    <script src="{{ asset('build/js/popper.min.js') }}"></script>
    <!--Bootstrap-->
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <!--Sweet alert JS-->
    <script src="{{ asset('build/js/sweetalert.js') }}"></script>
    <!--Progressbar JS-->
    <script src="{{ asset('build/js/progressbar.min.js') }}"></script>
    <!--Flot.JS-->
    <script src="{{ asset('build/js/charts/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('build/js/charts/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ asset('build/js/charts/jquery.flot.categories.min.js') }}"></script>
    <script src="{{ asset('build/js/charts/jquery.flot.stack.min.js') }}"></script>
    <!--Chart JS-->
    <script src="{{ asset('build/js/charts/chart.min.js') }}"></script>
    <!--Chartist JS-->
    <script src="{{ asset('build/js/charts/chartist.min.js') }}"></script>
    <script src="{{ asset('build/js/charts/chartist-data.js') }}"></script>
    <script src="{{ asset('build/js/charts/demo.js') }}"></script>
    <!--Maps-->
    <script src="{{ asset('build/js/maps/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ asset('build/js/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('build/js/maps/jvector-maps.js') }}"></script>
    <!--Bootstrap Calendar JS-->
    <script src="{{ asset('build/js/calendar/bootstrap_calendar.js') }}"></script>
    <script src="{{ asset('build/js/calendar/demo.js') }}"></script>
    <!--Nice select-->
    <script src="{{ asset('build/js/jquery.nice-select.min.js') }}"></script>

    <!--Custom Js Script-->
    <script src="{{ asset('build/js/custom.js') }}"></script>
    <!--Custom Js Script-->
    <script>
        //Nice select
        $('.bulk-actions').niceSelect();
    </script>
{% endblock %}




