<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="" >
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Meta Responsive tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Pascal Scool{% endblock %}</title>
    <!--Favicon Icon-->
    <link rel="icon" href="favicon.icon" type="image/x-icon">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
    <!--Custom style.css-->
    <link rel="stylesheet" href="{{ asset('build/css/quicksand.css')}}">
    <link rel="stylesheet" href="{{ asset('build/css/style.css')}}">
    <!--Font Awesome-->
    <link rel="stylesheet" href="{{ asset('build/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ asset('build/css/fontawesome.css')}}">
    <!--Animate CSS-->
    <link rel="stylesheet" href="{{ asset('build/css/animate.min.css')}}">
    <!--Chartist CSS-->
    <link rel="stylesheet" href="{{ asset('build/css/chartist.min.css')}}">
    <!--Map-->
    <link rel="stylesheet" href="{{ asset('build/css/jquery-jvectormap-2.0.2.css')}}">
    <!--Bootstrap Calendar-->
    <link rel="stylesheet" href="{{ asset('build/js/calendar/bootstrap_calendar.css')}}">
    <!--Nice select -->
    <link rel="stylesheet" href="{{ asset('css/nice-select.css')}}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="layout with-sidenav">
{% block body %}

<!--Page loader-->
<div class="loader-wrapper">
    <div class="loader-circle">
        <div class="loader-wave"></div>
    </div>
</div>
<!--Page loader-->

<!--Page Wrapper-->

<div class="container-fluid">

    <!--Header-->
    <div class="row header shadow-sm">

        <!--Logo-->
        {% block logo %}
            <div class="col-sm-3 pl-0 text-center header-logo">
                <div class="bg-theme mr-3 pt-3 pb-2 mb-0">
                    {% if is_granted('ROLE_TUTOR') %}
                        <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-user"></i> Tuteur</a></h3>
                    {% elseif is_granted('ROLE_STUDENT') %}
                        <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-child"></i> Elève</a></h3>
                    {% elseif is_granted('ROLE_PROFESSOR') %}
                        <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-graduation-cap"></i> Enseignant</a></h3>
                    {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                        <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-heartbeat"></i> Agent d'hygiéne</a></h3>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        <!--Logo-->

        <!--Header Menu-->
        <div class="col-sm-9 header-menu pt-2 pb-0">
            <div class="row">

                <!--Menu Icons-->
                <div class="col-sm-4 col-8 pl-0">
                    <!--Toggle sidebar-->
                    <span class="menu-icon" onclick="toggle_sidebar()">
                            <span id="sidebar-toggle-btn"></span>
                        </span>
                    <!--Toggle sidebar-->
                    <!--Notification icon-->
                    <div class="menu-icon">
                        <a class="" href="#" onclick="toggle_dropdown(this); return false" role="button" class="dropdown-toggle">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-danger">5</span>
                        </a>
                        <div class="dropdown dropdown-left bg-white shadow border">
                            <a class="dropdown-item" href="#"><strong>Notifications</strong></a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-primary">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0"><strong>Meeting</strong></h6>
                                        <p>You have a meeting by 8:00</p>
                                        <small class="text-success">09:23am</small>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-secondary">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0"><strong>Events</strong></h6>
                                        <p>Launching new programme</p>
                                        <small class="text-success">09:23am</small>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-warning">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0"><strong>Personnel</strong></h6>
                                        <p>New employee arrival</p>
                                        <small class="text-success">09:23am</small>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center link-all" href="#">See all notifications ></a>
                        </div>
                    </div>
                    <!--Notication icon-->

                    <!--Inbox icon-->
                    <span class="menu-icon inbox">
                            <a class="" href="#" role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="badge badge-danger">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mt-10 animated zoomInDown" aria-labelledby="dropdownMenuLink3">
                                <a class="dropdown-item" href="#"><strong>Unread messages</strong></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle" src="{{ asset('uploads/files/téléchargement.jpg') }}" width="50px" height="50px" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Roua Slama</strong></h6>
                                            <p>How are you?</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle" src="{{ asset('uploads/files/fille.jpg') }}" width="50px" height="50px" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h6 class="mt-0"><strong>Chadha Glaied</strong></h6>
                                            <p>How are you?</p>
                                            <small class="text-success">09:23am</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center link-all" href="#">View all messages</a>
                            </div>
                        </span>
                    <!--Inbox icon-->

                </div>
                <!--Menu Icons-->

                <!--Search box and avatar-->
                {% block avatar %}
                    <div class="col-sm-8 col-4 text-right flex-header-menu justify-content-end">

                        <div class="mr-4">

                            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('uploads/files/images.png') }}" alt="" class="rounded-circle" width="40px" height="40px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLink">
                                {% if is_granted('ROLE_TUTOR') %}
                                <a class="dropdown-item" target="_self" href="{{ path('profileTutor') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                {% elseif is_granted('ROLE_PROFESSOR') %}
                                    <a class="dropdown-item" target="_self" href="{{ path('profileProf') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                                    <a class="dropdown-item" target="_self" href="{{ path('profileAgent') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                {% elseif is_granted('ROLE_STUDENT') %}
                                    <a class="dropdown-item" target="_self" href="{{ path('profileStudent') }}"><i class="fa fa-user pr-2"></i>Profile</a>
                                {% endif %}

                                <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="fa fa-power-off pr-2"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <!--Search box and avatar-->
            </div>
        </div>
        <!--Header Menu-->
    </div>
    <!--Header-->

    <!--Main Content-->

    <div class="row main-content">
        <!--Sidebar left-->

        <div class="col-sm-3 col-xs-6 sidebar pl-0">
            <div class="inner-sidebar mr-3">
                <!--Image Avatar-->
                <div class="avatar text-center">
                    <img src="https://myeducpro.com/assets/login_page/img/logo.png" alt="" class="rounded-circle" height="60" />
                    <p><strong>Pascal School</strong></p>
                </div>
                <!--Image Avatar-->
                {% block main_sidebar_container %}

                {% endblock %}



            </div>
        </div>
        <!--Sidebar left-->

        <!--Content right-->
        <div class="col-sm-9 col-xs-12 content pt-3 pl-0">
            <h5 class="mb-3" ><strong>Accueil</strong></h5>

            <!--Dashboard widget-->
            <div class="mt-1 mb-3 button-container">
                <div class="row pl-0">
{#                    {% if is_granted('ROLE_TUTOR','ROLE_STUDENT','ROLE_PROFESSOR') %}#}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="fc-bg-primary border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon fc-bg-info">
                                    <i class="fa fa-child"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>5</strong></h3>
                                    <p><small class="align-text-bottom bc-description">Elèves</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="bg-danger border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon bg-dark">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>4</strong></h3>
                                    <p><small class="text-muted bc-description">Enseignants</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="bg-theme border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon bg-primary">
                                    <i class="fa fa-table"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>3</strong></h3>
                                    <p><small class="text-muted bc-description">Matières</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="bg-info border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                                    <i class="fa fa-bullhorn"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>3</strong></h3>
                                    <p><small class="text-muted bc-description">Activités</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="fc-bg-success border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon bg-green">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>3</strong></h3>
                                    <p><small class="text-muted bc-description">Classes</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
{#                    {% endif %}#}
                   <!-- {% if is_granted('ROLE_HYGIENE_OFFICER') %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="bg-light-blue border shadow">
                            <div class="media p-4">
                                <div class="align-self-center mr-3 rounded-circle notify-icon bg-danger">
                                    <i class="fa fa-heartbeat"></i>
                                </div>
                                <div class="media-body pl-2">
                                    <h3 class="mt-0 mb-0"><strong>3</strong></h3>
                                    <p><small class="text-muted bc-description">Agent d'hygiénes</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    -->


                </div>
            </div>
            <!--/Dashboard widget-->
        </div>
    </div>

    <!--Main Content-->

</div>

<!--Page Wrapper-->

<!-- Page JavaScript Files-->
<script src="{{ asset('build/js/jquery.min.js') }}"></script>
<script src="{{ asset('build/js/jquery-1.12.4.min.js') }}"></script>
<!--Popper JS-->
<script src="{{ asset('build/js/popper.min.js') }}"></script>
<!--Bootstrap-->
<script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<!--Sweet alert JS-->
<script src="{{ asset('build/js/sweetalert.js') }}"></script>
<!--Progressbar JS-->
<script src="{{ asset('build/js/progressbar.min.js') }}"></script>
<!--Flot.JS-->
<script src="{{ asset('build/js/charts/jquery.flot.min.js') }}"></script>
<script src="{{ asset('build/js/charts/jquery.flot.pie.min.js') }}"></script>
<script src="{{ asset('build/js/charts/jquery.flot.categories.min.js') }}"></script>
<script src="{{ asset('build/js/charts/jquery.flot.stack.min.js') }}"></script>
<!--Chart JS-->
<script src="{{ asset('build/js/charts/chart.min.js') }}"></script>
<!--Chartist JS-->
<script src="{{ asset('build/js/charts/chartist.min.js') }}"></script>
<script src="{{ asset('build/js/charts/chartist-data.js') }}"></script>
<script src="{{ asset('build/js/charts/demo.js') }}"></script>
<!--Maps-->
<script src="{{ asset('build/js/maps/jquery-jvectormap-2.0.2.min.js') }}"></script>
<script src="{{ asset('build/js/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
<script src="{{ asset('build/js/maps/jvector-maps.js') }}"></script>
<!--Bootstrap Calendar JS-->
<script src="{{ asset('build/js/calendar/bootstrap_calendar.js') }}"></script>
<script src="{{ asset('build/js/calendar/demo.js') }}"></script>
<!--Nice select-->
<script src="{{ asset('build/js/jquery.nice-select.min.js') }}"></script>

<!--Custom Js Script-->
<script src="{{ asset('build/js/custom.js') }}"></script>
<!--Custom Js Script-->
<script>
    //Nice select
    $('.bulk-actions').niceSelect();
</script>
{% endblock %}
</body>
</html>