{% extends 'base.html.twig' %}
{% block title %}HygieneOfficer| Dashboard{% endblock %}
{% block main_sidebar_container %}
    <!--Sidebar Navigation Menu-->
    <div class="sidebar-menu-container">
        <ul class="sidebar-menu mt-4 mb-4">
            <li class="parent">
                <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                    <span class="none">Dashboard <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                </a>

            </li>

            <li class="parent">
                <a href="#" class=""><i class="fas fa-heartbeat"></i>
                    <span class="none">Actualités  </span>
                </a>
            </li>
            <li class="parent">
                <a href="#" onclick="toggle_menu('ul_element'); return false" class=""><i class="fa fa-file mr-3"></i>
                    <span class="none">Messages <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                </a>

            </li>

        </ul>
    </div>
    <!--Sidebar Naigation Menu-->
{% endblock %}
