{% extends 'base.html.twig' %}
{% block title %}Enseignant| Dashboard{% endblock %}
{% block main_sidebar_container %}
    <!--Sidebar Navigation Menu-->
    <div class="sidebar-menu-container">
        <ul class="sidebar-menu mt-4 mb-4">
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-dashboard mr-3"> </i>
                    <span class="none">Accueil <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="{{ path('liste_eleve(Prof)') }}" class=""><i class="fa fa-child mr-3"></i>
                    <span class="none">Liste des élèves </span>
                </a>
            </li>
            <li class="parent">
                <a href="{{ path('add_notes(prof)') }}"  class=""><i class="fa fa-newspaper-o mr-3"></i>
                    <span class="none"> Notes</span>
                </a>
            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Absences </span>
                </a>
            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Punitions </span>
                </a>
            </li>

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                    <span class="none">Emploi du temps</span>
                </a>
            </li>

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-pie-chart mr-3"></i>
                    <span class="none">Examens </span>
                </a>

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-university mr-3"></i>
                    <span class="none"> Bibliothèque </span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-bullhorn mr-3"></i>
                    <span class="none">Actualités </span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-envelope-o mr-3"></i>
                    <span class="none"> Messages </span>
                </a>

            </li>

        </ul>
    </div>
    <!--Sidebar Naigation Menu-->
{% endblock %}
