{% extends 'base.html.twig' %}
{% block title %}Elève| Dashboard{% endblock %}
{% block main_sidebar_container %}
    <!--Sidebar Navigation Menu-->
    <div class="sidebar-menu-container">
        <ul class="sidebar-menu mt-4 mb-4">
            <li class="parent">
                <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                    <span class="none">Dashboard <i class=""></i></span>
                </a>

            </li>

            <li class="parent">
                <a href="{{ path('liste_Prof(student)') }}"  class=""><i class="fa fa-graduation-cap mr-3"></i>
                    <span class="none">Liste des enseignants <i class=""></i></span>
                </a>
            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                    <span class="none">Emploi du temps <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Absences <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Punitions <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-pencil-square mr-3"></i>
                    <span class="none"> Notes <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-pencil-square mr-3"></i>
                    <span class="none"> Bulletin <i class=""></i></span>
                </a>

            </li>

            <li class="parent">
                <a href="{{ path('matiereStudent') }}"  class=""><i class="fa fa-table mr-3"></i>
                    <span class="none">Matières <i class=""></i></span>
                </a>
            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-table mr-3"></i>
                    <span class="none">Calendrier d'examen <i class=""></i></span>
                </a>
            </li>

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-university mr-3"></i>
                    <span class="none">Bibliothèque <i class=""></i></span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-bullhorn mr-3"></i>
                    <span class="none">Actualités <i class=""></i></span>
                </a>

            </li>

        </ul>
    </div>
    <!--Sidebar Naigation Menu-->
{% endblock %}
