{% extends 'base.html.twig' %}
{% block title %}Tutor| Dashboard{% endblock %}
{% block main_sidebar_container %}
    <!--Sidebar Navigation Menu-->
    <div class="sidebar-menu-container">
        <ul class="sidebar-menu mt-4 mb-4">
            <li class="parent">
                <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i class="fa fa-dashboard mr-3"> </i>
                    <span class="none">Accueil </span>
                </a>

            </li>

            <li class="parent">
                <a href="{{ path('liste_eleve(tutor)') }}" class=""><i class="fa fa-child mr-3"></i>
                    <span class="none">Liste des élèves </span>
                </a>
            </li>
            <li class="parent">
                <a href="{{ path('liste_Prof(tutor)') }}"  class=""><i class="fa fa-graduation-cap mr-3"></i>
                    <span class="none">Liste des enseignants </span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-list-alt mr-3"></i>
                    <span class="none">Emploi du temps </span>
                </a>

            </li>
            <li class="parent">
                <a href="{{ path('liste_absence(tutor)')}}"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Absences </span>
                </a>

            </li>

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-save mr-3"></i>
                    <span class="none">Punitions </span>
                </a>

            </li>
            <li class="parent">
                <a href="{{ path('liste_notes(tutor)') }}" ><i class="fa fa-pencil-square mr-3"></i>
                    <span class="none"> Notes </span>
                </a>

            </li>
            <li class="parent">
                <a href="#" ><i class="fa fa-pencil-square mr-3"></i>
                    <span class="none"> Bulletin </span>
                </a>

            </li>

            <li class="parent">
                <a href="#" class=""><i class="fa fa-table mr-3"></i>
                    <span class="none">Matières </span>
                </a>
            <!--
            <li class="parent">
                <a href="#" class=""><i class="fa fa-newspaper-o mr-3"></i>
                    <span class="none">Devoirs de maison</span>
                </a>
            </li>
            -->

            <li class="parent">
                <a href="#"  class=""><i class="fa fa-university mr-3"></i>
                    <span class="none">Bibliothèque </span>
                </a>

            </li>
            <li class="parent">
                <a href="#"  class=""><i class="fa fa-bullhorn mr-3"></i>
                    <span class="none"> Actualités</span>
                </a>

            </li>
            <li class="parent">
                <a href="#" class=""><i class="fa fa-envelope-o mr-3"> </i>
                    <span class="none">Messages </span>
                </a>
            </li>

            <li class="parent">
                <a href="#" class=""><i class="fa fa-dollar mr-3"> </i>
                    <span class="none">Paiement </span>
                </a>
            </li>
        </ul>
    </div>
    <!--Sidebar Naigation Menu-->
{% endblock %}
