<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>profile edit </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{
            background: #f7f7ff;
            margin-top:20px;
        }
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 ), 0 2px 6px 0 rgb(206 206 238 );
        }
        .me-2 {
            margin-right: .5rem!important;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{app.request.basepath}}/uploads/files/{{app.user.photo}}" alt="" class="rounded-circle " width="150">
                            <div class="mt-3">
                                <h4>{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                {{ form_start(form) }}
                {{ form_row(form.lastName, {'label': 'Nom' }) }}
                {{ form_row(form.firstName, {'label': 'Prénom' }) }}
                {{ form_row(form.userName, {'label': 'Login' }) }}
                {{ form_row(form.email, {'label': 'Email' }) }}
                {{ form_row(form.address, {'label': 'Adresse' }) }}
                {{ form_row(form.tel, {'label': 'Télephone' }) }}
              {{ form_end(form) }}
            </div></div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>