<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>profile </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{
            margin-top:20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }
        .main-body {
            padding: 15px;
        }
        .card {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col, .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }
        .mb-3, .my-3 {
            margin-bottom: 1rem!important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }
        .h-100 {
            height: 100%!important;
        }
        .shadow-none {
            box-shadow: none!important;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                {% if is_granted('ROLE_TUTOR') %}
                <li class="breadcrumb-item"><a href="{{ path('tutorDashboard') }}">Home</a></li>
                {% elseif is_granted('ROLE_PROFESSOR') %}
                <li class="breadcrumb-item">
                    <a href="{{ path('professorDashboard') }}">Home</a></li>
                {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                <li class="breadcrumb-item">
                    <a href="{{ path('hygOfficerDashboard') }}">Home</a></li>
                {% elseif is_granted('ROLE_STUDENT') %}
                <li class="breadcrumb-item"><a href="{{ path('studentDashboard') }}">Home</a></li>
             </ol>
                {% endif %}

        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{app.request.basepath}}/uploads/files/{{app.user.photo}}" alt="" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        {% if is_granted('ROLE_TUTOR') %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Cin</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.cin}}
                                </div>
                            </div>
                        <hr>
                        {% elseif is_granted('ROLE_PROFESSOR') %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cin</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.cin}}
                            </div>
                        </div>
                        <hr>
                        {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cin</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.cin}}
                            </div>
                        </div>
                        <hr>
                            {% endif %}

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.lastName }}
                            </div>
                        </div>
                        <hr>


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.firstName }}
                            </div>
                        </div>
                        <hr>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.address }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.tel }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date de naissance</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.birthday|date("m/d/Y")}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-outline-primary">Change Password</button>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                {% if is_granted('ROLE_PROFESSOR') %}
                                <a class="btn btn-info " target="" href="{{ path('editProfileProf') }}"><i class="fa fa-edit"></i>Edit Profile</a>
                                {% elseif is_granted('ROLE_TUTOR') %}
                                <a class="btn btn-info " target="" href="{{ path('editProfileTut') }}">Edit Profile</a>
                                {% elseif is_granted('ROLE_STUDENT') %}
                                <a class="btn btn-info " target="" href="{{ path('editProfileStudent') }}">Edit Profile</a>
                                {% elseif is_granted('ROLE_HYGIENE_OFFICER') %}
                                <a class="btn btn-info " target="" href="{{ path('editProfileAgent') }}">Edit Profile</a>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>




                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>